.background {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 28rem;
}

.nav-custom {
  max-height: 10rem;
}

.zoom-in {
  animation: zoomIn 0.5s forwards;
  transform-origin: center;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.gradle-container {
  position: relative;
  display: inline-block;
}

.gradle-container:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404); /* Color y opacidad de la capa */
  pointer-events: none; /* Permite hacer clic en los elementos subyacentes */
}

.favorite-button {
  transition: opacity 0.3s ease;
  max-height: 1.4rem;
}

.favorite-button:hover {
  box-shadow: 0 0 10px 5px rgba(182, 182, 212, 0.5); /* Ajusta el color y la intensidad del brillo según tus preferencias */
}

.favorite-game {
  height: 9rem;
}

.favorite-game .favorite-img {
  width: 10rem;
}

.favorite-game .favorite-body{
  height: 4rem;
  width: 100%;
}

.favorite-body .favorite-p {
  height: 2.8rem;
  font-size: .6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-game {
  min-height: 100%;

}

.custom-modal .modal-content {
  background-color: #343a40;
  color: white;
}

.custom-modal .modal-header {
  border-bottom-color: white;
}

.custom-modal .modal-footer {
  border-top-color: white;
}

.custom-modal .modal-description{
  height: 6rem;
  font-size: .8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer{
  height: 5rem;
}